.second-layer-navbar {
  border-right: 0.2rem solid;
  border-bottom: 0.2rem solid;
  color: white;
  padding: 0.5rem 0.5rem 0.8rem 2rem;
  display: inline-flex;
  align-items: center;
  border-bottom-right-radius: 1.1rem;
  height: 2rem;
}

input[type=checkbox] {
  width: 1.1rem;
}

input[type=checkbox]:checked {
  accent-color: #b52e31 !important;
}

.search-bar-elements-gap {
  gap: 0.5rem;
}

.short-elements-gap {
  gap: 0.2rem;
}