
<div class="d-flex h-v-max flex-column align-self-stretch">
  <div class="d-flex bg-outer-space-crayola border-style-solid border-thin border-red border-bottom p-2">
    <div class="d-flex ml-auto p-0 flex-0 pr-2">
      <select [(ngModel)]="searchOptions.selectedFilterValue" class="bg-dark-red rounded-pill border-normal color-white border-0 p-1 pl-1 pr-1">
        <option [ngValue]="value" *ngFor="let value of filteringOptions">{{value}}</option>
      </select>
    </div>
    <div class="d-flex ml-1 p-0 pr-2 color-white">
      <div class="d-flex flex-column justify-content-center">
        Show responded trades
      </div>
      <input type="checkbox" [(ngModel)]="searchOptions.showRespondedTrades" class="d-flex flex-column justify-content-center ml-1"/>
    </div>
    <div class="d-flex ml-1 p-0 flex-0">
      <button class="bg-dark-red rounded-pill border-normal color-white border-0 p-1 pl-3 pr-3 no-select" (click)="search()">Search</button>
    </div>
  </div>

  <div class="flex-grow-1 overflow-y-auto">
    <div class="container">
      <app-trades-list></app-trades-list>
    </div>
  </div>

  <app-menu-bar>
    <app-menu-button eventId="select_trade_receiver_dialog">Create trade</app-menu-button>
  </app-menu-bar>
</div>

<dialog-trade-details></dialog-trade-details>
<dialog-select-trade-receiver></dialog-select-trade-receiver>
<dialog-select-items-for-trade></dialog-select-items-for-trade>
<dialog-set-trade-item-quantity-and-price></dialog-set-trade-item-quantity-and-price>
<dialog-remove-trade-item></dialog-remove-trade-item>
<dialog-respond-trade></dialog-respond-trade>
<dialog-cancel-trade></dialog-cancel-trade>
