<default-page
  (onSearch)="search()"
  [hasCustomSearchBar]="true">
  <div header class="d-flex search-bar-elements-gap bg-outer-space-crayola border-style-solid border-thin border-red border-bottom p-2 ps-3 pe-3">
    <div class="d-flex ms-auto p-0 flex-0 pe-2">
      <select [(ngModel)]="searchOptions.selectedFilterValue" class="bg-dark-red rounded-pill border-normal color-white border-0 p-1 ps-1 pe-1">
        <option [ngValue]="value" *ngFor="let value of filteringOptions">{{value}}</option>
      </select>
    </div>
    <div class="d-flex ms-1 p-0 pe-2 color-white short-elements-gap">
      <div class="d-flex flex-column justify-content-center">
        Show responded trades
      </div>
      <input type="checkbox" [(ngModel)]="searchOptions.showRespondedTrades" class="d-flex flex-column justify-content-center ms-1"/>
    </div>
    <div class="d-flex ms-1 p-0 flex-grow-1 align-items-end flex-column">
      <button class="d-flex bg-dark-red rounded-pill border-normal color-white border-0 p-1 ps-3 pe-3 no-select" (click)="search()">
        Search <i class="fa-solid fa-magnifying-glass color-white my-auto ps-1"></i>
      </button>
    </div>
  </div>

  <app-trade-item-sidebar-filter sidebar (selectedTradeItems)="onTradeItemsSelected($event)"></app-trade-item-sidebar-filter>

  <app-trades-list></app-trades-list>

  <app-menu-bar bottom-action-bar>
    <app-menu-button
      [eventId]="createTradeEventId"
      [route]="createTradeEventRoute"
      [icon]="'fa-solid fa-square-pen'"
      (onClick)="onCreateTradeClicked()">
        Create trade
    </app-menu-button>
  </app-menu-bar>
</default-page>

<router-outlet></router-outlet>
