<div class="d-flex h-v-max flex-column align-self-stretch">
    <app-navbar-search-bar placeholder="Enter item name" (searchFunction)="search(getEventValue($event))"></app-navbar-search-bar>
    
    <div class="flex-grow-1 overflow-y-auto">
        <div class="container">
            <app-list-inventory></app-list-inventory>
        </div>
    </div>
    
    <app-menu-bar>
        <app-menu-button eventId="add_item_select_dialog">Add item</app-menu-button>
    </app-menu-bar>
</div>

<!-- Dialogs -->
<dialog-add-item-select></dialog-add-item-select>
<dialog-add-item-quantity></dialog-add-item-quantity>
<dialog-drop-item-quantity></dialog-drop-item-quantity>
