<app-dark-background (onBackgroundClicked)="exit()">
  <app-medium-dialog class="position-fixed transform-center">
    <app-dialog-body
      title="Delete item"
      (onContinue)="delete()"
      (onExit)="exit()"
      nextButtonName="Yes"
      cancelButtonName="No">
      <div class="d-flex flex-column mx-auto my-2">
        <span class="ms-2">Do you wish to delete the item with the name <strong>{{ ( item$ | async ).name}}</strong>?</span>
      </div>
    </app-dialog-body>
  </app-medium-dialog>
</app-dark-background>