<div class="d-flex row position-relative my-2 p-2 bg-white border-thin border-style-solid border-red">
  <div class="col flex-0 p-0">
    <div class="position-relative border-bold border-style-solid bg-gunmetal border-dark-red w-5rem h-5rem">
      <div class="position-absolute transform-center color-white">
        Item
      </div>
    </div>
  </div>
  <div class="col mr-2 flex-grow-1">
    <strong>Name</strong>:
    {{ item.name }}
    <br>
    <strong>Description</strong>:
    {{ item.description }}
    <br>
    <span *ngIf="!isShort">
    <div (click)="details()" class="d-inline-block pr-2 pb-2 color-blue no-select cursor-pointer"><strong>Details</strong></div>
    </span>
  </div>
  <div *ngIf="hasControls" class="col flex-0 p-0 pl-1 text-center no-select cursor-pointer">
    <div class="mb-1 p-2 bg-cadet-blue color-white" (click)="edit()">
      <strong>Edit</strong>
    </div>
    <div class="mt-1 p-2 bg-dark-red color-white no-select cursor-pointer" (click)="delete()">
      <strong>Delete</strong>
    </div>
  </div>
</div>