<app-event-dialog eventId="create_item_dialog">
    <app-medium-dialog class="position-fixed transform-center">
        <div class="color-black">
            Create item
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="d-flex flex-wrap flex-column justify-content-center py-3">
                    <div class="d-flex flex-column mx-auto">
                        <label>Item name</label>
                        <input class="border rounded-pill border-normal" placeholder="Name" formControlName="itemName">
                        <app-error class="text-center" [controlName]="form.controls['itemName']"></app-error>
                    </div>
                    <div class="d-flex flex-column mx-auto">
                        <label>Item description</label>
                        <input class="border rounded-pill border-normal" placeholder="Description" formControlName="itemDescription">
                        <app-error class="text-center" [controlName]="form.controls['itemDescription']"></app-error>
                    </div>
                </div>
                <div class="d-flex justify-content-center pb-1">
                    <app-button [disabled]="!form.valid">Create</app-button>
                </div>
            </form>
        </div>
    </app-medium-dialog>
</app-event-dialog>