<div class="d-flex h-v-max flex-column align-self-stretch">
  <app-navbar-search-bar placeholder="Enter item name" (searchFunction)="search(getEventValue($event))" [allowEmptySearch]="true"></app-navbar-search-bar>
  
  <div class="flex-grow-1 overflow-y-auto">
    <div class="container">
      <app-list-items></app-list-items>
    </div>
  </div>
  
  <app-menu-bar>
    <app-menu-button [eventId]="createEventId">Create item</app-menu-button>
  </app-menu-bar>
</div>

<router-outlet></router-outlet>
