.right-side-panel-position {
  right: 25%;
	top: 50%;
	transform: translate(41.5%, -49.3%);
}

.right-side-panel-size {
	width: 20rem;
}

.right-side-panel-height {
	min-height: 15rem;
	max-height: 15rem;
}
