<div class="d-flex row color-black position-relative m-3 p-2 bg-white border-thin border-style-solid border-red">
    <div class="col flex-0 p-0">
        <div class="position-relative border-bold border-style-solid bg-gunmetal border-dark-red w-5rem h-5rem">
            <div class="position-absolute transform-center color-white">
                Item
            </div>
        </div>
    </div>
    <div class="col mr-2 flex-grow-1">
        <strong>Name</strong>:
        {{ item.name }}
        <br>
        <strong>Quantity</strong>:
        {{ item.quantity }}
        <br>
        <div (click)="details()" class="d-inline-block pr-2 pb-2 color-blue no-select cursor-pointer"><strong>Details</strong></div>
    </div>
    <div class="col flex-0 p-0 pl-1 text-center no-select cursor-pointer">
        <div class="mb-1 p-2 bg-cadet-blue color-white" (click)="add()">
            <strong>Add</strong>
        </div>
        <div class="mt-1 p-2 bg-dark-red color-white no-select cursor-pointer" (click)="drop()">
            <strong>Drop</strong>
        </div>
    </div>
</div>