<app-dark-background (onBackgroundClicked)="exit()">
  <app-medium-dialog class="position-fixed transform-center">
    <div class="d-flex flex-column flex-grow-1 mb-1">
      <div class="d-flex flex-wrap flex-column align-items-center">
        <div class="text-center pt-1 pb-3">    
          Trade details
        </div>
        <div *ngIf="userName !== undefined" class="d-flex flex-column">
          <div class="d-flex flex-row">
            <strong>{{ isSentTrade ? 'Sent to' : 'Received from' }}</strong>:
            {{ userName }}
          </div>
          <div class="d-flex flex-row">
            <strong>{{ isSentTrade ? 'Sent date' : 'Received date' }}</strong>:
            {{ (trade$ | async)?.sentDate | date }}
          </div>
          <div class="d-flex flex-row">
            <strong>Total price</strong>:
            {{ totalPrice }}
          </div>
          <div *ngIf="(trade$ | async)?.respondedDate" class="d-flex flex-row">
            <strong>Responded date</strong>:
            {{ (trade$ | async)?.respondedDate | date }}
          </div>
          <div class="d-flex flex-row overflow-y-scroll max-height">
            <app-selected-trade-items-list></app-selected-trade-items-list>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center pt-3 pb-1">
        <app-button (click)="exit()">Ok</app-button>
      </div>
    </div>
  </app-medium-dialog>
</app-dark-background>