<app-event-dialog eventId={{eventId}}>
  <app-medium-dialog class="position-fixed transform-center">
    <app-back-next-dialog
      title="Edit item"
      [form]="form"
      [dialogId]="eventId"
      [nextButtonCallback]="submit.bind(this)"
      nextButtonCustomName="Update">
      <form
        [formGroup]="form">
        <div class="d-flex flex-column mt-2 mb-1 mx-2">
          Item name
          <input class="border rounded-pill border-normal" placeholder="Name" formControlName="itemName">
          <app-error class="text-center" [controlName]="form.controls['itemName']"></app-error>
        </div>
        <div class="d-flex flex-column mb-2 mx-2">
          Item description
          <input class="border rounded-pill border-normal" placeholder="Description" formControlName="itemDescription">
          <app-error class="text-center" [controlName]="form.controls['itemDescription']"></app-error>
        </div>
      </form>
    </app-back-next-dialog>
  </app-medium-dialog>
</app-event-dialog>