<div *ngIf="isConnected$ | async" class="d-flex flex-row flex-grow-1 align-self-stretch bg-outer-space-crayola h-3.5rem border-normal border-bottom border-dark-red">
  <ul class="d-flex flex-row">
    <navbar-button route="" class="d-flex flex-column" icon="fa-solid fa-house">
      Index
    </navbar-button>
    <navbar-button route="items" class="d-flex flex-column" icon="fa-solid fa-cubes-stacked">
      Items
    </navbar-button>
    <navbar-button route="inventory" class="d-flex flex-column" icon="fa-solid fa-box">
      Inventory
    </navbar-button>
    <navbar-button route="trades" class="d-flex flex-column" icon="fa-solid fa-coins">
      Trades
    </navbar-button>
    <navbar-button route="wallet" class="d-flex flex-column" icon="fa-solid fa-wallet">
      Wallet
    </navbar-button>
  </ul>
  <ul class="d-flex flex-grow-1 flex-row justify-content-end flex-gap">
    <div>
      <li #notificationsButton>
        <div [hidden]="notificationsCount == 0" class="position-absolute notification-bubble-size font-size-small color-white bg-dark-red border-radius-rounded text-center cursor-pointer p-05 px-1 ms-3">
          {{ notificationsCount | replaceOverMaxWithPlus:(99) }}
        </div>
        <i class="fa-regular fa-bell cursor-pointer"></i>
      </li>
      <app-notifications #notifications [hidden]="!notificationsMenuOpened"></app-notifications>
    </div>
    <navbar-button (click)="logout()" icon="fa-solid fa-door-open">
      Logout
    </navbar-button>
  </ul>
</div>