

.outline-red {
    outline-color:#f2545b;
}

/* colors */

.color-black {
    color: black !important;
}

.color-light-blue {
    color: #4fa6f7 !important;
}

.color-blue {
    color: #1E8DF5 !important;
}

.color-red {
    color: #f2545b !important;
}

.color-dark-red {
    color: #b52e31 !important;
}

.color-light-gray {
    color: lightgray !important;
}

.color-gray {
    color: gray !important;
}

.color-dark-gray {
    color: #424242 !important;
}

.color-white {
    color: white !important;
}

.color-cadet-blue {
    color: #58a4b0 !important; 
}

.color-outer-space-crayola {
    color: #1b3337 !important;
}

/* background colors */

.bg-light-blue {
    background-color: #4fa6f7 !important;
}

.bg-blue {
    background-color: #1E8DF5 !important;
}

.bg-dark-blue {
    background-color: #0A73D6 !important;
}

.bg-gray {
    background-color: gray !important;
}

.bg-dark-gray {
    background-color: #424242 !important;
}

.bg-red {
    background-color: #f2545b !important;
}

.bg-dark-red {
    background-color: #b52e31 !important;
}

.bg-tea-green {
    background-color: #c5e6a6 !important;
}

.bg-charcoal {
    background-color: #2e4057 !important;
}

.bg-almond {
    background-color: #eae0d5 !important;
}

.bg-gunmetal {
    background-color: #22333b !important;
}

.bg-cadet-blue {
    background-color: #58a4b0 !important;
}

.bg-outer-space-crayola {
    background-color: #1A1F23 !important; /* 1b3337 */
}

/* border colors */

.border-light-blue {
    border-color: #4fa6f7 !important
}

.border-blue {
    border-color: #1E8DF5 !important
}

.border-light-gray {
    border-color: lightgray !important;
}

.border-gray {
    border-color: gray !important;
}

.border-dark-gray {
    border-color: darkgray !important;
}

.border-red {
    border-color: #f2545b !important;
}

.border-dark-red {
    border-color: #b52e31 !important;
}

.border-indigo {
    border-color: #083d77 !important;
}

.border-cadet-blue {
    border-color: #58a4b0 !important;
}

.border-outer-space-crayola {
    border-color: #1b3337 !important;
}
