.font-size-small { font-size: 0.7rem }

.font-size-medium { font-size: 0.9rem }

.field-font {
	font-size: 11px;
}

.button-font {
	font-size: 12px;
}

.icon-size-1-5 { font-size: 1.5rem; }

.icon-size-3 { font-size: 3rem; }

.icon-size-5 { font-size: 5rem; }
