.grid-container {
  display: grid;
}

.grid-default-areas {
  grid-template-areas: 
    "header"
    "main-content"
    "bottom-action-bar"
  ;
}

.grid-default-no-search-row-sizes {
  grid-template-rows: 3.5rem auto 4.5rem;
}

.grid-default-row-sizes {
  grid-template-rows: 6.5rem auto 4.5rem;
}

.grid-auto-flow-row {
  grid-auto-flow: row;
}

.grid-fill-page {
  width: 100vw;
  height: 100vh;
}

.header {
  grid-area: header;
}

.main-content {
  grid-area: main-content;
  overflow-y: auto;
}

.bottom-action-bar {
  grid-area: bottom-action-bar;
}