.top-0 { top: 0; }

.right-0 { right: 0; }

.transform-center { 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.fixed-top-below-navbar {
    position: fixed;
    top: 3.5rem;
}

.z-index-10 { z-index: 10; }
