.w-45 { width: 45vw; }

.w-20rem { width: 20rem; }

.w-25rem { width: 25rem; }

.w-30rem { width: 30rem; }

.h-3\.5rem { height: 3.5rem; }

.w-max { width: 100%; }

.h-max { height: 100%; }

.w-v-max { width: 100vw; } /* v comes from virtual */

.h-v-max { height: 100vh; }
