.w-auto { width: auto; }

.h-auto { height: min-content; }

.h-max-inherit { max-height: inherit; }

/* virtual */

.w-45 { width: 45vw; }

.w-v-max { width: 100vw; }

.h-v-max { height: 100vh; }

.h-v-65 { max-height: 65vh; }

/* rem */

.w-5rem { width: 5rem; }

.w-10rem { width: 10rem; }

.w-15rem { width: 15rem; }

.w-20rem { width: 20rem; }

.w-25rem { width: 25rem; }

.w-30rem { width: 30rem; }

.w-35rem { width: 35rem; }

.h-3rem { width: 3rem; }

.h-3\.5rem { height: 3.5rem; }

.h-5rem { height: 5rem; }

/* percent */

.w-99 { width: 99%;}

.w-max { width: 100%; }

.h-max { height: 100%; }
