<app-event-dialog eventId={{eventId}}>
    <app-medium-dialog class="position-fixed transform-center">
        <app-back-next-dialog [form]="form" dialogId={{eventId}}>
            <form [formGroup]="form">
                <div class="d-flex flex-column mx-auto">
                    <label class="control-label">Quantity</label>
                    <input class="border rounded-pill border-normal" type="number" placeholder="Quantity" formControlName="quantity">
                    <app-error class="text-center" [controlName]="form.controls['quantity']"></app-error>
                </div>
            </form>
        </app-back-next-dialog>
    </app-medium-dialog>
</app-event-dialog>