<div class="d-flex h-v-max flex-column align-self-stretch">
    <app-navbar-search-bar placeholder="Enter item name" (searchFunction)="listItems(getEventValue($event))"></app-navbar-search-bar>
    
    <div class="flex-grow-1 overflow-y-auto">
        <div class="container">
            <div *ngFor="let id of itemsIdList; let i=index">
                <app-item id="id" [itemId]="id"></app-item>
            </div>
        </div>
    </div>
    
    <app-menu-bar>
        <app-menu-button eventId="create_item_dialog">Create item</app-menu-button>
    </app-menu-bar>
</div>

<!-- Dialogs -->
<dialog-create-item></dialog-create-item>
