<div class="d-flex flex-row position-relative my-2 p-2 bg-white border-thin border-style-solid border-red flex-gap">
  <div class="d-flex flex-column flex-0 p-0">
    <div class="position-relative border-bold border-style-solid bg-gunmetal border-dark-red" [ngClass]="small ? 'w-3rem h-3rem' : 'w-5rem h-5rem'">
      <div class="position-absolute transform-center color-white">
        Item
      </div>
    </div>
  </div>
  <div class="d-flex flex-column flex-grow-1 flex-gap">
    <span class="d-flex flex-row">
      <strong>Name</strong>:
      {{ ( item$ | async )?.itemName }}
    </span>
    <span class="d-flex flex-row">
      <strong>Quantity</strong>:
      {{ ( item$ | async )?.quantity }}
    </span>
  </div>
  <div *ngIf="hasControls" class="d-flex flex-column flex-0 p-0 ps-1 text-center no-select cursor-pointer">
    <div class="mb-1 p-2 bg-cadet-blue color-white" (click)="add()">
      <strong>Add</strong>
    </div>
    <div class="mt-1 p-2 bg-dark-red color-white no-select cursor-pointer" (click)="drop()">
      <strong>Drop</strong>
    </div>
  </div>
</div>