<app-dark-background (onBackgroundClicked)="exit()">
  <app-medium-dialog class="position-fixed transform-center">
    <app-dialog-body
      title="Create item"
      [isNextButtonDisabled]="form == undefined ? false : !form.valid"
      (onContinue)="submit()"
      (onExit)="exit()"
      nextButtonName="Create">
      <form [formGroup]="form" class="mx-2">
        <div class="d-flex flex-column mx-auto mt-2">
          Item name
          <input class="border rounded-pill border-normal" placeholder="Name" formControlName="itemName">
          <app-error class="text-center" [controlName]="form.controls['itemName']"></app-error>
        </div>
        <div class="d-flex flex-column mx-auto mb-2">
          Item description
          <input class="border rounded-pill border-normal" placeholder="Description" formControlName="itemDescription">
          <app-error class="text-center" [controlName]="form.controls['itemDescription']"></app-error>
        </div>
      </form>
    </app-dialog-body>
  </app-medium-dialog>
</app-dark-background>